project:
  type: website
  execute-dir: project
  output-dir: docs
  render:
    - "*.qmd"

execute:
  freeze: auto

website:
  title: "Nick J Lyon"
  favicon: images/logo_lyon.png
  repo-url: https://github.com/njlyon0/njlyon0.github.io
  repo-actions: [issue]
  navbar:
    background: primary
    left:
      - text: "Code"
        href: code.qmd
      - text: "Teach"
        href: teach.qmd
      - text: "Write"
        href: write.qmd
      - text: "Consult"
        href: consult.qmd
    right:
      - text: "Data Science Tips"
        menu:
          - text: "{{< fa brands git >}} -- Conventional Commits"
            href: tips/commits.qmd
          - text: "{{< fa robot >}} -- AI Cautionary Notes"
            href: tips/ai.qmd
          - text: "{{< fa brands r-project >}} -- Class Coercion"
            href: tips/r_class-coercion.qmd
          - text: "{{< fa brands r-project >}} -- Condition Signalling"
            href: tips/r_conditions.qmd
          - text: "{{< fa brands r-project >}} -- Selecting Elements"
            href: tips/r_select-elements.qmd
          - text: "{{< fa brands r-project >}} -- Loop Syntax"
            href: tips/r_int-loops.qmd
      - text: "Creative Projects"
        href: create.qmd
      - icon: github
        href: https://github.com/njlyon0/njlyon0.github.io
  page-footer:
    center: "Copyright 2024, Nicholas Lyon"
    background: secondary

format:
  html:
    theme:
      light: _extensions/njlyon0/lyon_theme/lyon_light.scss
      dark: _extensions/njlyon0/lyon_theme/lyon_dark.scss
    mainfont: Open Sans
    toc: true
    link-external-newwindow: true
    link-external-icon: false
    code-annotations: hover
