/*-- scss:defaults --*/

// Colors
$teal: #41b6c4;
$med-blue: #225ea8;
$orange: #fe9929;
$burnt-orange: #993404;
$navy: #253494;
$dark-gray: #333333;
$cream: #FDFBF7;
$pale-green: #ffffd9;

// Fonts
$font-size: 25px;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

// Base document colors
$navbar-bg: $orange; // navbar
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $navy; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $dark-gray; // page text 
$footer-bg: $teal; // footer 
$link-color: $navy; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $navy; // inline code text color

// Code blocks
$code-block-bg: $pale-green; // code block background color