/*-- scss:defaults --*/

// Colors
/* source: https://coolors.co/palettes/trending */
$light-blue: #8ECAE6;
$med-blue: #219EBC;
$dark-blue: #023047;
$light-orange: #FFB703;
$dark-orange: #FB8500;

$cream: #F4F3EE;
$light-gray: #BCB8B1;
$med-gray: #8A817C;
$charcoal: #463F3A;

// Fonts
$font-size: 25px;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

// Base document colors
$navbar-bg: $light-orange; // navbar
$navbar-fg: $med-gray; // navbar foreground elements
$navbar-hl: $med-blue; // highlight color when on a page
$body-bg: $cream; // page background 
$body-color: $charcoal; // page text 
$footer-bg: $med-blue; // footer 
$link-color: $med-blue; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $dark-blue; // inline code text color

// Code blocks
$code-block-bg: $light-blue; // code block background color